@model Lab2Server.Models.UserModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title <sup>admin</sup></h2>

<div>
    @using (Html.BeginForm("Login", "Users", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(l => l.Email)
            @Html.EditorFor(l => l.Email)            
        </p>
        <p>
            @Html.LabelFor(l => l.Password)
            @Html.PasswordFor(l => l.Password)
        </p>
        <p>
            @Html.ValidationSummary()
        </p>
        <label>
            <button>Login</button>
        </label>
        <label style="border-left:1px dotted black; padding: 0 20px; font-size:2em; width:200px;">
            <a href="@Url.Action("Index","books")"><i class="fa fa-1x fa-user-secret"></i> <sup>as anonym</sup></a>
        </label>
    }
</div>