@using Lab2Server.Models
@model BookModel
@{ 
    Layout = null;
    var imageSource = @Model.Photo ?? "/Content/no-book-preview.png";
}

<div class="book-item">
    <img class="book-picture" alt="book-picture" src="@imageSource" />
    <div>
        <p>Name: <label><b>@Model.Name</b></label></p>
        <p>Pulished: <label><b><u>@Model.Year</u></b></label></p>
        <p>Author(s): <label><b><i>@Model.Authors</i></b></label></p>
    </div>
    
    <p class="book-description">Decription:<br/>@Model.Description</p>

    @if (Request.IsAuthenticated)
    {
        <a href="@Url.Action("Edit", new { id = Model.Id })">
            <i class="fa fa-2x fa-edit"></i>
        </a>
        <a href="@Url.Action("Delete", new { id = Model.Id })">
            <i class="fa fa-2x fa-trash"></i>
        </a>
    }
    else
    {
        <form method="post" action="@Url.Action("AddToCart","ShoppingCart", new { bookId = @Model.Id })">
            <input type="range" min="1" max="10" value="1" name="count" />
            <button>
                <i class="fa fa-2x fa-cart-plus" aria-hidden="true"></i>
            </button>
            
        </form>
    }
</div>