@using Lab2Server.Models

@{
    ViewBag.Title = "Sages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title <sup>admin</sup></h2>

<p>
    <a href="javascript:void(0)" class="open-book-dialog" data-id="0">
        <i class="fa fa-plus-square"></i> Create
    </a>
</p>

@Html.Partial("_ListOfSages")

@{
    var model = new EditSageModel();
    <div id="edit-book-modal" title="Edit sage">
        <form id="book-dialog-form">
            <div class="form-horizontal">
                <input type="hidden" id="Id" name="Id" value="" />
                <div>
                    <div class="form-group">
                        <input type="text" value="" id="Name" name="Name" class="form-control required" placeholder="Name" required />
                    </div>
                    <div class="form-group">
                        <textarea id="City" name="City" class="form-control" placeholder="City"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" value="" id="Age" name="Age" min="1900" max="@DateTime.UtcNow.Year" class="form-control required" placeholder="Age" required />
                    </div>
                    @Html.Partial("EditorTemplates/_MultiSelect", new MultiSelectList(new dynamic[] { }))
                    @Html.Partial("EditorTemplates/_PhotoUpload", model.PhotoUpload)
                </div>
                <div class="preview-photo">
                    <img alt="" class="form-control" src="" />
                </div>
            </div>
        </form>

        <script>
            $(function () {
                var $editSage = $("#edit-book-modal"),
                    populateData = (id) => {
                        id = Number(id);

                        $editSage.first("input#Id").val(id);

                        return $.get("/api/authors/" + id)
                            .then((sageData) => {
                                $editSage.find("input#Name").val(sageData.Name);
                                $editSage.find("textarea#City").val(sageData.City);
                                $editSage.find("input#Age").val(sageData.Age);
                                $editSage.find("img.form-control").prop({ src: sageData.Photo || "/Content/no-sage-preview.png" });
                            });
                    },
                    openDialog = (e) => {
                        var id = $(e.currentTarget).data("id");

                        populateData(id)
                            .then(() => { $editSage.dialog({ title: id ? "Edit" : "Create" }).dialog("open"); });
                    },
                    deleteDialog = (e) => {
                        var id = $(e.currentTarget).data("id");
                        $.ajax({
                            url: "/api/authors/" + id,
                            type: "DELETE"
                        }).then(reLoadAuthors);
                    },
                    createRequestBody = () => {
                        var requestBody = new FormData();

                        requestBody.append("Id", $editSage.find("#Id").val());
                        requestBody.append("Name", $editSage.find("#Name").val());
                        requestBody.append("City", $editSage.find("#City").val());
                        requestBody.append("Age", $editSage.find("#Age").val());
                        requestBody.append("PhotoUpload", $editSage.find("#PhotoUpload")[0].files[0]);

                        return requestBody;
                    };

                $(document).on("click", ".open-book-dialog", openDialog);
                $(document).on("click", ".delete-sage-dialog", deleteDialog);

                $editSage
                    .dialog({
                        modal: true,
                        autoOpen: false,
                        width: 600,
                        height: 450,
                        buttons: {
                            "Save": () => {
                                var id = Number($editSage.first("input#Id").val()),
                                    requestBody = createRequestBody();

                                $.ajax({
                                    url: url = id ? "/api/authors/" + id : "/api/authors/",
                                    type: id ? "PUT" : "POST",
                                    data: requestBody,
                                    processData: false,
                                    contentType: false,
                                })
                                .then(reLoadAuthors);

                                $editSage.dialog("close");
                            },
                            Cancel: () => { $editSage.dialog("close"); }
                        },
                        close: () => { $editSage.find(".required").removeClass("ui-state-error").val(""); }
                    });
            });
        </script>
    </div>
}
